{% extends 'base.html' %}
{% block content %}
{% if pizzas %}
    {% for pizza in pizzas %}
    <div>
        <a href="{{ pizza.get_absolute_url }}"><img src="{{ pizza.photo.url }}" width="150" height="150"></a><br>
        Пицца <a href="{{ pizza.get_absolute_url }}">"{{ pizza.title }}"</a><br>
        <button type="submit">{{ pizza.price }} рублей</button>
    </div>
    <br>
    {% endfor %}
{% endif %}
{% endblock content %}