{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>Пицца "{{ pizza.title }}"</h1>
        <img src="{{ pizza.photo.url }}" width="300" height="250"><br>
        Состав: {{ pizza.composition }}
        {{ pizza.price }} рублей<br>
        <button type="subbmit">добавить в корзину</button>
    </div>
{% endblock content %}